<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>myservletclass</display-name>
    <servlet-name>myservletclass</servlet-name>
    <servlet-class>myservlet.myservletclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservletclass</servlet-name>
    <url-pattern>/myservletclass</url-pattern>
  </servlet-mapping>
  <display-name>saipro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>productdisplaypage</display-name>
    <servlet-name>productdisplaypage</servlet-name>
    <servlet-class>myservlet.productdisplaypage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productdisplaypage</servlet-name>
    <url-pattern>/productdisplaypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prodislet</display-name>
    <servlet-name>prodislet</servlet-name>
    <servlet-class>servlet.prodislet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prodislet</servlet-name>
    <url-pattern>/prodislet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletlif</display-name>
    <servlet-name>servletlif</servlet-name>
    <servlet-class>servletlif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletlif</servlet-name>
    <url-pattern>/servletlif</url-pattern>
  </servlet-mapping>
</web-app>